<h2>ユーザーのトップページ</h2>
<h2><%= @user.family_name + @user.given_name %></h2>
<div>
  <div>
    <%= link_to "レシピ一覧", users_recipes_path %>
  </div>
  <div>
  </div>
</div>
<%= button_to "ログアウト", destroy_user_session_path, method: :delete %>