<div>
  <div>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div>
   <div>
     今日のレシピ
   </div>
    <div>
      <h1><%= @recipe.title %></h1>
    </div>
    <div>
      <p><%= @recipe.description %></p>
      <span>
        <img>
      </span>
      <p></p>
    </div>
  </div>
</div>